#container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delivery-app {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .delivery-app img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
  }
  
  .delivery-app button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  #appOrder-list button:last-child {
    background-color: #008CBA;
  }
  
  #appOrder-list button:hover {
    background-color: #45a049;
  }
  